changequote(<!,!>)

REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 1, 'libworld_service.so', 'ZONE_IP', PORT_START+01, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 3, 'libmarket_service.so', 'ZONE_IP', PORT_START+03, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 4, 'libgm_service.so', 'ZONE_IP', PORT_START+04, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 11, 'libzone_service.so', 'ZONE_IP', PORT_START+11, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 12, 'libzone_service.so', 'ZONE_IP', PORT_START+12, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 13, 'libzone_service.so', 'ZONE_IP', PORT_START+13, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 14, 'libzone_service.so', 'ZONE_IP', PORT_START+14, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 15, 'libzone_service.so', 'ZONE_IP', PORT_START+15, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 21, 'libai_service.so', 'ZONE_IP', PORT_START+21, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 22, 'libai_service.so', 'ZONE_IP', PORT_START+22, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 23, 'libai_service.so', 'ZONE_IP', PORT_START+23, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 24, 'libai_service.so', 'ZONE_IP', PORT_START+24, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 25, 'libai_service.so', 'ZONE_IP', PORT_START+25, '', 0, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 31, 'libsocket_service.so', 'ZONE_IP', PORT_START+31, 'ZONE_OUT_IP', OUT_PORT_START+31, 0, '0.0.0.0');
REPLACE INTO `tbld_servicedetail` VALUES (ZONE_ID, 32, 'libsocket_service.so', 'ZONE_IP', PORT_START+32, 'ZONE_OUT_IP', OUT_PORT_START+32, 0, '0.0.0.0');

REPLACE INTO `tbld_dbinfo` VALUES (ZONE_ID, 'ZONE_MYSQL_IP', 3306, 'ZONE_NAME', 'root', 'MYSQL_PASSWD');
REPLACE INTO `tbld_serverlist` VALUES (ZONE_ID, 'ZONE_ID区', ZONE_OPEN_TIME, 4, 'ZONE_OUT_IP:OUT_PORT_START+31;ZONE_OUT_IP:OUT_PORT_START+32', 0);